environment.yml
requirements.txt
data/H_test.pt
data/H_train.pt
data/s_test.pt
data/s_train.pt
data/y_test.pt
data/y_train.pt
data/yhat_test.pt
data/yhat_train.pt
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
data/cifar-10-python.tar.gz
